# Django Environment
ENVIRONMENT=development
DEBUG=True

# Django Security
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL Database
POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# CORS & CSRF Settings
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

# JWT Authentication
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=360
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
JWT_ROTATE_REFRESH_TOKENS=True
JWT_BLACKLIST_AFTER_ROTATION=True
JWT_ALGORITHM=HS256

# Redis (for Celery & Caching)
REDIS_URL=redis://127.0.0.1:6379/0

# External Services
KAVENEGAR_API_KEY=your_kavenegar_api_key

# SPOTPLAYER API
SPOTPLAYER_URL=https://app.spotplayer.ir/license/edit/
API_KEY=your_spotplayer_api_key
LEVEL=-1
